body{
  margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
}
h1 {
  font-size: 90px;
margin-top: 200px ;
font-family: 'Sacramento', cursive;
margin-bottom: 40px;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
h4{
  font-size: 2em;
  margin-top: 0;
}
.top-container {

  background-color: white;
  position: relative;
  padding-top: 100px;

}
.middle-container{



}
.bottom-container{


}

.bottom-cloud {
position: absolute;
left: 300px;
}

.top-cloud {
  position: absolute;
  right: 350px;
top: 200px;
}
.middle-pic{
  height: 200px;
}

.web-image {
  height: 200px;
}

.beer-image {
  height: 200px;
}
